<div style="display: flex;flex-direction: column;min-width: 300px;">
<div style="min-height: 64px; padding: 8px 24px 0;">
    <h2>{{ teamName }}</h2>
    <mat-form-field style="width: 100%;" *ngIf="teamName === 'All Players' || teamName === 'Playoff Players'">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
</div>

<mat-table #table
    [dataSource]="playersSource"
    matSort
    matSortStart='desc'
    matSortActive="Points"
    matSortDirection='desc'
    style="overflow: auto;"
>
    <ng-container matColumnDef="TeamAbbreviation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.TeamAbbreviation}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FirstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.FirstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.LastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Points">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pts </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.Points}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="GamesPlayed">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Games </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.GamesPlayed}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="PointsPerGame">
        <mat-header-cell *matHeaderCellDef mat-sort-header> PPG </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.PointsPerGame | number: '1.3-3'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Goals">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Goals </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.Goals}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Assists">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Assists </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.Assists}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator pageSize="12"></mat-paginator>

</div>