<div class="mat-elevation-z8">
  <mat-toolbar color="primary">
    <span>NHL Drafter</span>
    <span style="flex: 1 1 auto;"></span>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="playoffs" checked="true">
        Playoff Players
      </mat-button-toggle>
      <mat-button-toggle value="all">
        All Players
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>
  <ng-container *ngIf="players.length" [ngSwitch]="group.value">
    <div *ngSwitchCase="'playoffs'">
      <player-list [players]="playoffPlayers" [teamAbbreviation]="'Playoff Players'"></player-list>
    </div>
    <div *ngSwitchCase="'all'">
      <player-list [players]="players" [teamAbbreviation]="'All Players'"></player-list>
    </div>
  </ng-container>
</div>
