<div class="mat-elevation-z8">
  <mat-toolbar color="primary">
    <span>NHL Drafter</span>
  </mat-toolbar>
  <div style="min-height: 64px; padding: 8px 24px 0;">
    <mat-form-field style="width: 100%;">
      <input matInput (keyup)="search($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <mat-table #table
    [dataSource]="playersSource"
    style="overflow: auto;"
    matSort (matSortChange)="sortPlayers($event)"
  >
    <ng-container matColumnDef="TeamAbbreviation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.TeamAbbreviation}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FirstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.FirstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.LastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Points">
      <mat-header-cell *matHeaderCellDef mat-sort-header> P </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.Points}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="GamesPlayed">
      <mat-header-cell *matHeaderCellDef mat-sort-header> GP </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.GamesPlayed}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Goals">
      <mat-header-cell *matHeaderCellDef mat-sort-header> G </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.Goals}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Assists">
      <mat-header-cell *matHeaderCellDef mat-sort-header> A </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.Assists}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="PlusMinus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> +/- </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.PlusMinus}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
